<div class="layout layout--center half-height">
  <div class="layout__item u-3/12-lap-and-up pb-"> 
    <div class="green tall">
      <div>
        
      EL Molar de Rus
      </div>
    </div>
  </div>   
  <div class="layout__item u-4/12-lap-and-up pb-">
    <div class="red tall">
      <div>
        
      Bodega y Vinedos
      </div>
    </div>
  </div> 
  <div class="layout__item u-2/12-lap-and-up pb-">
    <div class="blue tall">
      <div>
        
      Localizazcion y Contacto
      </div>
    </div>
  </div> 
  <div class="layout__item u-3/12-lap-and-up pb-">
    <div class="tall">
      <div>
      Viddno y turismno rural en la manchuela
      </div>
    </div>
  </div> 

</div>

<div class="layout layout--center half-height">
  <div class="layout__item u-4/12-lap-and-up u-palm-pb-">
    <div class="yellow tall">
      <div>
        
      Productos
      </div>
    </div>
  </div> 
  <div class="layout__item u-5/12-lap-and-up u-palm-pb-">
    <div class="normal pb-">
      <div class="tall blue">
        <div>
          
        Produccion ecologica
        </div>
      </div>
    </div>
    <div class="normal">
      <div class="tall green">
        <div>
          
        Turismo rural 
        </div>
      </div>
    </div>
  </div> 
  <div class="layout__item u-3/12-lap-and-up u-palm-pb-">
    <div class="red tall">
      <div>
        
      Quienes somos
      </div>
    </div>
  </div> 
</div>
