<nav>
  <ul class="layout layout--center half-height-lap-and-up">
    <li class="layout__item u-3/12-lap-and-up pb-"> 
      <div class="green tall">
        <div class="text--center">
          
        EL Molar de Rus
        </div>
      </div>
    </li>   
    <li class="layout__item u-4/12-lap-and-up pb-">
      <div class="red tall">
        <div class="text--center">
          
        Bodega y Vinedos
        </div>
      </div>
    </li> 
    <li class="layout__item u-2/12-lap-and-up pb-">
      <div class="blue tall">
        <div class="text--center">
          
        Localizazcion y Contacto
        </div>
      </div>
    </li> 
    <li class="layout__item u-3/12-lap-and-up pb-">
      <div class="tall">
        <div class="text--center">
        Viddno y turismno rural en la manchuela
        </div>
      </div>
    </li> 

  </ul>

  <ul class="layout layout--center half-height-lap-and-up">
    <li class="layout__item u-4/12-lap-and-up u-palm-pb-">
      <a id="products-link" href="/products">
        <div class="yellow tall">
          <div class="text--center">
            Productos
          </div>
        </div>
      </a>
    </li>
    <div class="layout__item u-5/12-lap-and-up u-palm-pb-">
      <li class="normal pb-">
        <div class="tall blue">
          <div class="text--center">
          Produccion ecologica
          </div>
        </div>
      </li>
      <li class="normal">
        <div class="tall green">
          <div class="text--center">
          Turismo rural 
          </div>
        </div>
      </li>
    </div> 
    <li class="layout__item u-3/12-lap-and-up u-palm-pb-">
      <div class="red tall">
        <div class="text--center">
        Quienes somos
        </div>
      </div>
    </li> 
  </ul>
</nav>
