<nav>
  <ul class="layout layout--center half-height-lap-and-up">
    <li id="logo" class="layout__item u-3/12-lap-and-up pb-"> 
      <div class="green tall">
        <div class="text--center">
          
        EL Molar de Rus
        </div>
      </div>
    </li>   
    <li id="tagline" class="layout__item u-3/12-lap-and-up pb-">
      <div class="tall">
        <div class="text--center">
          
        Viddno y turismno rural en la manchuela
        </div>
      </div>
    </li> 
    <li id="products-link" class="layout__item u-4/12-lap-and-up pb-">
      <a data-pjax href="/products">
        <div class="yellow tall">
          <div class="text--center">
            Productos
          </div>
        </div>
      </a>
    </li> 
    <li id="ecological-link"  class="layout__item u-5/12-lap-and-up half-tall pb-">
      <div class="normal blue">
        <div class="text--center">
          Produccion ecologica
        </div>
      </div>
    </li>
    <li id="turism-link" class="layout__item u-5/12-lap-and-up half-tall u-palm-pb-">
      <div class="normal green">
        <div class="text--center">
          Turismo rural
        </div>
      </div>
    </li> 
    <li id="winery-link" class="layout__item u-4/12-lap-and-up u-palm-pb-">
      <div class="tall red">
        <div class="text--center">
          Bodega y vinedos
        </div>
      </div>
    </li> 
    <li id="about-link" class="layout__item u-3/12-lap-and-up u-palm-pb-">
      <div class="blue tall">
        <div class="text--center">
          Quienes somos 
        </div>
      </div>
    </li>
    <li id="contact-link" class="layout__item u-2/12-lap-and-up pb-">
      <div class="red tall">
        <div class="text--center">
          Localizazcion y Contacto
        </div>
      </div>
    </li> 
  </ul>
</nav>
