<div class="layout layout--center">
  <div class="layout__item u-5/12-lap-and-up pb-"> 
    <div class="green tall">
      GREEN
    </div>
  </div>   
  <div class="layout__item u-4/12-lap-and-up pb-">
    <div class="red tall">
      RED
    </div>
  </div> 
  <div class="layout__item u-3/12-lap-and-up pb-">
    <div class="blue tall">
      BLUE
    </div>
  </div> 
</div>

<div class="layout layout--center">
  <div class="layout__item u-3/12-lap-and-up">
    <div class="yellow tall">
      YELLOW
    </div>
  </div> 
  <div class="layout__item u-2/12-lap-and-up">
    <div class="green tall">
      GREEN
    </div>
  </div> 
  <div class="layout__item u-4/12-lap-and-up">
    <div class="blue tall">
      BLUE
    </div>
  </div> 
  <div class="layout__item u-1/12-lap-and-up">
    <div class="red tall">
      RED
    </div>
  </div> 
  <div class="layout__item u-2/12-lap-and-up">
    <div class="yellow tall">
      YELLOW
    </div>
  </div> 

</div>
