<div class="container">
  <div id="header" class="layout">
    <div id="logo" class="layout__item u-3/12-lap-and-up pb-">
      <div class="vertical--middle">
        <h1 class="text--center">
          <img class="logo-img" src="img/logo.gif" alt="El Molar de Rus" />
          El Molar de Rus
        </h1>
      </div>
    </div>
    <div id="tagline" class="layout__item u-3/12-lap-and-up pb-">
      <div class="vertical--middle">
        <h2 class="tagline text--center">
          <span>Vino </span>y <span>turismo </span>rural en la <span>manchuela </span>
        </h2>
      </div>
    </div> 
  </div>
  <nav>
    <ul class="layout layout--center">
      <li id="wines-link" class="layout__item u-4/12-lap-and-up pb-">
        <a data-pjax href="/wines">
          <div class="menu__item hvr-sweep-to-right wines-link__bg">
            <div class="vertical--middle">
              <div class="text--center">
                Vinos
              </div>
            </div>
          </div>
        </a>
      </li> 
      <li id="ecological-link"  class="layout__item u-5/12-lap-and-up pb-">
        <div class="vertical--middle menu__item ecological-link__bg">
          <div class="text--center">
            Produccion ecologica
          </div>
        </div>
      </li>
      <li id="tourism-link" class="layout__item u-5/12-lap-and-up u-palm-pb-">
        <a data-pjax href="/tourism">
          <div class="menu__item hvr-sweep-to-right tourism-link__bg">
            <div class="vertical--middle">
              <div class="text--center">
                Turismo rural
              </div>
            </div>
          </div>
        </a>
      </li> 
      <li id="winery-link" class="layout__item u-4/12-lap-and-up u-palm-pb-">
        <div class="vertical--middle menu__item winery-link__bg">
          <div class="text--center">
            Bodega y vinedos
          </div>
        </div>
      </li> 
      <li id="about-link" class="layout__item u-3/12-lap-and-up u-palm-pb-">
        <div class="vertical--middle menu__item about-link__bg">
          <div class="text--center">
            Quienes somos 
          </div>
        </div>
      </li>
      <li id="contact-link" class="layout__item u-2/12-lap-and-up pb-">
        <div class="vertical--middle menu__item contact-link__bg">
          <div class="text--center">
            Localizazcion y Contacto
          </div>
        </div>
      </li> 
    </ul>
  </nav>
</div>
