<div class="layout layout--center half-height">
  <div class="layout__item u-3/12-lap-and-up pb-"> 
    <div class="green tall">
      EL Molar de Rus
    </div>
  </div>   
  <div class="layout__item u-4/12-lap-and-up pb-">
    <div class="red tall">
      Bodega y Vinedos
    </div>
  </div> 
  <div class="layout__item u-2/12-lap-and-up pb-">
    <div class="blue tall">
      Localizazcion y Contacto
    </div>
  </div> 
  <div class="layout__item u-3/12-lap-and-up pb-">
    <div class="tall">
      Vino y turismno rural en la manchuela
    </div>
  </div> 

</div>

<div class="layout layout--center half-height">
  <div class="layout__item u-4/12-lap-and-up">
    <div class="yellow tall">
      Productos
    </div>
  </div> 
  <div class="layout__item u-3/12-lap-and-up">
    <div class="green tall">
      Produccion ecologica
    </div>
  </div> 
  <div class="layout__item u-2/12-lap-and-up">
    <div class="blue tall">
      Turismo rural
    </div>
  </div> 
  <div class="layout__item u-3/12-lap-and-up">
    <div class="red tall">
      Quienes somos
    </div>
  </div> 
</div>
