<div class="layout layout--center half-height-lap-and-up">
  <div class="layout__item u-3/12-lap-and-up pb-"> 
    <div class="green tall">
      <div class="text--center">
        
      EL Molar de Rus
      </div>
    </div>
  </div>   
  <div class="layout__item u-4/12-lap-and-up pb-">
    <div class="red tall">
      <div class="text--center">
        
      Bodega y Vinedos
      </div>
    </div>
  </div> 
  <div class="layout__item u-2/12-lap-and-up pb-">
    <div class="blue tall">
      <div class="text--center">
        
      Localizazcion y Contacto
      </div>
    </div>
  </div> 
  <div class="layout__item u-3/12-lap-and-up pb-">
    <div class="tall">
      <div class="text--center">
      Viddno y turismno rural en la manchuela
      </div>
    </div>
  </div> 

</div>

<div class="layout layout--center half-height-lap-and-up">
  <a id="products-link" href="#products">
    <div class="layout__item u-4/12-lap-and-up u-palm-pb-">
      <div class="yellow tall">
        <div class="text--center">
          Productos
        </div>
      </div>
    </div> 
  </a>
  <div class="layout__item u-5/12-lap-and-up u-palm-pb-">
    <div class="normal pb-">
      <div class="tall blue">
        <div class="text--center">
        Produccion ecologica
        </div>
      </div>
    </div>
    <div class="normal">
      <div class="tall green">
        <div class="text--center">
        Turismo rural 
        </div>
      </div>
    </div>
  </div> 
  <div class="layout__item u-3/12-lap-and-up u-palm-pb-">
    <div class="red tall">
      <div class="text--center">
      Quienes somos
      </div>
    </div>
  </div> 
</div>



<section id="products">
  <a href="#">
    <div class="button--close">
      X 
    </div>
  </a>
  <div class="layout layout--center">
    <div class="layout__item mb+ u-5/12-lap-and-up text--center">
      <h1>Nuestros productos</h1>
      <p>Elaboramos sólo con uvas propias, de variedades internacionales como Merlot, Cabernet Sauvignon y Syrah, y también variedades propias de la región como son Graciano y Moravia Son vinos de personalidad propia que destacan por su mineralidad.</p>
    </div>
  </div>
  
  <div class="layout product">
    <div class="layout__item u-5/12-lap-and-up product--info lap-and-up-text--right">
      <div class="product--title">
        <h2>Quantum blend 2011</h2>
      </div>
      <div class="product--description">
        <h3>Merlot, Cabernet Sauvignon, Syrah</h3>
      </div>
    </div>
  
    <div class="layout__item u-2/12-lap-and-up">
      <div class="product--image">
        <img src="img/quantum-blend.png" alt="Quantum Blend 2011" />
      </div>
    </div>
  <div class="layout__item u-5/12-lap-and-up tasting-notes lap-and-up-text--left">
    <ul class="no-list-style">
      <li>
        <h4>Colores:</h4>
        <p>Vivo, brillante, toques rubis</p>
      </li>
      <li>
        <h4>Aroma:</h4>
        <p>Predomina el merlot. Toques florales violestas.</p>
      </li>
      <li>
        <h4>Boca:</h4>
        <p>Paso en boca facil, tanino no agresivo.</p>
      </li>
    </ul>
  </div>
</div>
</section>
