<div id="bg-tourism" class="bg--full-fixed"></div>
<section class="animated fadeIn container" id="tourism">
  <a data-pjax class="button--close" href="/">
      MENU
  </a>
  <div class="layout layout--center">
    <div class="layout__item mb+ u-5/12-lap-and-up text--center">
      <div class="section__intro">
        
        <h1>Turismo rural</h1>
        <h2>Ven a visitarnos!</h2>
        <p>Disfruta de una autentica experiencia en El molar, una finca manchega sumergida en la cultura del vino</p>
      </div>
    </div>
    <div class="animated bounceInLeft">
      <div class="layout__item mb+ u-2/12-lap-and-up text--center">
        <img class="img--responsive img--circle" src="img/comedor.jpg" alt="Comedor principal" />
        <h4>Alquiler casa completa</h4>
      </div>
      <div class="layout__item mb+ u-2/12-lap-and-up text--center">
        <img class="img--responsive img--circle" src="img/habitacion1.jpg" alt="Habitacion matrimonio" />
        <h4>3 habitaciones de matrimonio</h4>
      </div>
      <div class="layout__item mb+ u-2/12-lap-and-up text--center">
        <img class="img--responsive img--circle" src="img/habitacion2.jpg" alt="Habitacion doble" />
        <h4>3 habitaciones dobles</h4>
      </div>
      <div class="layout__item mb+ u-2/12-lap-and-up text--center">
        <img class="img--responsive img--circle" src="img/bathroom.jpg" alt="Bano propio" />
        <h4>Todas con bano propio</h4>
      </div>

    </div>
    <div class="animated bounceInRight">
      <div class="layout__item mb+ u-2/12-lap-and-up text--center">
        <img class="img--responsive img--circle" src="img/salon.jpg" alt="Comedor principal" />
        <h4>Salon con billar y chimenea</h4>
      </div>
      <div class="layout__item mb+ u-2/12-lap-and-up text--center">
        <img class="img--responsive img--circle" src="img/cocina.jpg" alt="Habitacion matrimonio" />
        <h4>Cocina totalmente equipada</h4>
      </div>
      <div class="layout__item mb+ u-2/12-lap-and-up text--center">
        <img class="img--responsive img--circle" src="img/entorno-ducks.jpg" alt="Habitacion doble" />
        <h4>Vida salvaje</h4>
      </div>
      <div class="layout__item mb+ u-2/12-lap-and-up text--center">
        <img class="img--responsive img--circle" src="img/entorno.jpg" alt="Bano propio" />
        <h4>Entorno excepcional</h4>
      </div>
    </div>
    <div class="layout__item mb+ u-10/12-lap-and-up text--center">
      <h3>El entorno</h3>
      <p>The land is rich with biodiversity and home to other plants (pine trees, pistachios, pees…) as well as animals (horses, ostriches, goats and donkeys).  </p>
    </div>
    <div class="layout__item mb+ u-10/12-lap-and-up text--center">
      <h3>Actividades</h3>
      <p>The land is rich with biodiversity and home to other plants (pine trees, pistachios, pees…) as well as animals (horses, ostriches, goats and donkeys).  </p>
    </div>
    <div class="layout__item mb+ u-10/12-lap-and-up text--center">
      <h3>La manchuela</h3>
      <p>The land is rich with biodiversity and home to other plants (pine trees, pistachios, pees…) as well as animals (horses, ostriches, goats and donkeys).  </p>
    </div>
  </div>
</section>

