@import "inuit-css";
@import "../components/modular-scale/stylesheets/_modular-scale.scss";

/* COLOR SCHEME */
$white: #FEFEFE;
$gray: #DDDAD6;
$black: #1E1E1E;
$yellow: #F9F1B5;
$blue: #A6D8DE;
$vivid-blue: #00b7ff;
$brown: #AE9C96;


/* TYPOGRAPHY */
$ms-base: 1em;
$ms-ratio: $golden;

/* COLOR SCHEME BAR */
#scheme-bar {
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  font-size: 0;
  div {
    height:7px;
  }
}

.no-js #loader { 
  display: none;  
}
.js #loader { 
  display: block; 
  position: absolute; 
  left: 100px; 
  top: 0; 
}

#icon--load {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/img/Preloader.gif') center no-repeat #fff;
}

.blue {
  background-color: $blue;
}
.brown {
  background-color: $brown;
}
.yellow {
  background-color: $yellow;
}
.gray {
  background-color: $gray;
}

html {
  height: 100%;
  width: 100%;
  background-color: $white;
  //background: rgb(51,51,51);
}

body{
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: ms(0);
  color: $white;
  height: 100%;
}

h1 {
  font-weight: 400 !important;
  font-size: ms(3);
}


.subheading {
  font-size: ms(2);
  color: $yellow;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-style: italic;

}
#data-container {
  //padding: 10px;
  width: 100%;
  height: 100%;
}

.img--responsive {
  max-width: 100%;
}

.img--circle {
  border-radius: 50%;
}
.container {
  padding: 12px;
  width: 100%;
  height: 100%;
  position: relative;
}

nav {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
}

.no-list-style {
  list-style: none;
  padding: 0;
  margin: 0;
}
.layout {
  font-size: 0;
}

.text--center {
  text-align: center !important;
}

.layout__item {
  font-size: 1rem;
}

nav li {
  height: 10rem;
}

.vertical--middle {
  display: table;
  height: 100%;
  width: 100%;
}
.vertical--middle > *{
  display: table-cell;
  vertical-align: middle;

}

.grey {
  background-color: #CCC;
}
.wines-link__bg {
  background: url('/img/wines.jpg') no-repeat center center;
}

.ecological-link__bg {
  background: url('/img/ecological.jpg') no-repeat center center;
}

.tourism-link__bg {
  background: url('/img/tourism.jpg') no-repeat center center;
}

.winery-link__bg {
  background: url('/img/wineyards.jpg') no-repeat center center;
}

.about-link__bg {
  background: url('/img/about.jpg') no-repeat center center;
}

.contact-link__bg {
  background: url('/img/entorno.jpg') no-repeat center center;
}

.menu__item {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 2em;
  font-weight: 300;
  text-transform: uppercase;
  color: $white;
}


.red{
    background:#CD0000;  
}
 
.blue{
    background:#4682B4;
}
 
.green{
    background-color: #2E8B57;
}

a {
  color: #00B7FF;
}

.selected {
  background-color: #483D8B;
}

section {
  min-height: 100%;
  width: 100%;
  text-align: center;
}

.button--close {
  z-index: 9999;
  font-size: ms(1);
  position: fixed;
  top: 5px;
  right: 5px;
  //color: #FEFEFE;
}

.wine--image img {
  height: 35em;
}

.wine--title h2 {
  font-size: ms(2);
  font-weight: 300;
}

.tasting-notes {
  vertical-align: bottom;
}

.tagline {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  font-style: italic;
  color: $brown;

  span {
  font-size: ms(0);
  text-transform: uppercase;
  //background: url('/img/contacto.jpg') no-repeat center center;
  }
}

h3, .tasting-notes p {
  font-family: 'Playfair Display', serif;
  color: $brown;
  font-weight: 400;
  font-style: italic;
}

h3 {
  color: $yellow;
  font-size: ms(1);
}

.line {
  width: 80%;
  height: 1px;
  line-height: 0;
  border: 0 none;
}

#logo {
  font-family: 'Cinzel Decorative', serif;
  color: #262223;
  font-weight: normal;
  h1 {
    font-size: ms(2);
  }
}

.logo-img {
  width: 100%;
  color: #515151;
}

/* HOVER EFFECTS */
/* Sweep To Right */
.hvr-sweep-to-right {
  height: 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: $white;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/* SECTIONS */

#wines {
  color: $white;
}
.section__intro h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}

.bg--full-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 0;
  
}
#bg-wine {
  background: url(/img/bg-wine.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

.banner { 
  position: relative; 
  overflow: auto; 
  width: 100% !important;
}
.banner li { 
  list-style: none; 
}
.banner .slide__elem { 
  float: left; 
}
.banner ul {
  margin: 0;
  padding: 0;
}
.unslider-arrow {
  color: rgba(255, 255, 255, 0.3);
  &:hover {
    color: rgba(255, 255, 255, 0.8);
  }
}
#arrow-left {
  position: absolute;
  top: 50%;
  left: 0;
}
#arrow-right {
  position: absolute;
  top: 50%;
  right: 0;
}


/*** TOURISM ***/
#tourism {
  color: $white;
}

#bg-tourism {
  background: url(/img/bg-tourism.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;

}

.thumb__img {
  z-index: 1;
  img {
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,0.5);
    box-shadow: 0 3px 6px rgba(0,0,0,0.5);
  }
}

.thumb__img {
  -webkit-transition: -webkit-transform 0.15s linear;
  transition: transform 0.15s linear;
}

.heading--big { 
  text-transform: uppercase;
  font-size: ms(2);
  span {
    font-size: ms(1);
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $gray;    
  }
}


/* MEDIA QUERIES */
@media screen and (min-width: 45em) {
  html {
    font-size: 110%;
  }
  .container {
    padding: 12px 12px 12px 0;
  }
  #logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    h1 {
      font-size: 2.5em;
    }
  }
  .button--close {
    //font-size: 30px;
  }

  
  .wine--image img {
    height: 40em;
  }

  .line--left {
    margin-left: 0;
  }

  .line--right {
    margin-right: 0;
  }

  #tagline {
    position: absolute;
    top: 0;
    right: 0;
    height: 50%;
  }
  .tagline span {
    font-size: ms(1);
  }

  #wines-link {
    position: absolute;
    top: 0;
    left: 25%;
    height: 50%;
  }

  #contact-link {
    position: absolute;
    top: 0;
    right: 25%;
    height: 50%;
  }

  #winery-link {
    position: absolute;
    top: 50%;
    left: 0;
    height: 50%;
  }

  #ecological-link {
    position: absolute;
    top: 50%;
    left: 33.33%;
    height: 25%;
  }

  #tourism-link {
    position: absolute;
    top: 75%;
    left: 33.33%;
    height: 25%;
  }

  #about-link {
    position: absolute;
    top: 50%;
    left: 75%;
    height: 50%;
  }
  .thumb__img:hover, .thumb__img:focus {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  position: relative;
  z-index: 5;
    img {
      -webkit-box-shadow: 0 3px 20px rgba(0,0,0,0.5);
      -moz-box-shadow: 0 3px 20px rgba(0,0,0,0.5);
      box-shadow: 0 3px 20px rgba(0,0,0,0.5);
    }
  }
}

@media screen and (min-width: 92em) {
  html {
    //font-size: 115%;
  }
  .heading--big span {
    font-size: ms(2); 
  }

} 

@media screen and (min-width: 138em) {
  html {
    font-size: 130%;
  }
  body {
    font-weight: 300;
  }
} 
/*********************************/


